body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="number"], input[type="date"] {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-content: center;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
    
}

th {
    background-color: #c6c5c5;
}

.action-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #c9302c;
}


td[id^="qrcode-"] {
    display: flex;
    justify-content: center;
   
}

/* Adicione esta regra para a nova coluna de imagens */
td img {
    max-width: 100px; /* Ajuste conforme necessário */
    max-height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


